*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

h1, h2, h3, h4 {
  font-weight: 600;
}

h1 {
  font-size: 2em;
  margin: 0.2em 0;
}

h2 {
  font-size: 1.5em;
  padding: 0.6em 0;
}

h3 {
  font-size: 1.1em;
  padding: 0.5em 0;
  font-weight: bold;
} /*
.element {
  color: hotpink;

  @include respond-to(small) {
    color: tomato;
  }
}
 */
body {
  width: 100vw;
  _height: 100vh;
  background-image: url("/public/img/bg.png");
  background-size: 100%;
  font-size: 16px;
  font-family: Lato, sans-serif;
  color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
}
body > * {
  max-height: 100%;
  padding: 2em 0;
}
@media (max-width: 1200px) {
  body {
    width: auto;
    height: auto;
  }
}

.sign-out {
  position: fixed;
  top: 1vw;
  right: 3.5vw;
  text-align: right;
  font-size: 1.2em;
  z-index: 99;
}

.logo {
  font-family: Amita;
  font-size: 3em;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0;
  padding-bottom: 0.3em;
  color: #111;
}
.logo::first-letter {
  color: rgb(54, 176, 60);
}

.logo-link:hover {
  text-decoration: none;
  color: #111;
}

.group-one {
  background-color: rgba(54, 176, 60, 0.9);
}

.group-two {
  background-color: rgb(133, 189, 180);
}

.group-three {
  background-color: rgb(255, 204, 92);
}

.group-four {
  background-color: rgb(255, 111, 105);
}

@supports (display: grid) {
  .container-tiles {
    display: grid;
    grid-template-columns: repeat(3, minmax(16em, 1fr));
    gap: 3.5rem 4em;
  }
  @media (max-width: 1100px) {
    .container-tiles {
      grid-template-columns: repeat(2, minmax(16em, 1fr));
    }
  }
  @media (max-width: 750px) {
    .container-tiles {
      grid-template-columns: repeat(1, minmax(16em, 1fr));
    }
  }
}
.container-tiles {
  margin: 10vh;
}
.container-tiles > a {
  height: 14rem;
  width: 20rem;
  text-align: center;
  display: block;
  padding: 2em;
  filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.2));
}
.container-tiles > a:hover {
  text-decoration: none;
}
.container-tiles > a h3 {
  color: white;
  font-size: 1.2em;
  border-bottom: dashed 1px white;
  margin-bottom: 1em;
  padding-bottom: 0.4em;
}
.container-tiles header {
  justify-self: center;
  align-self: center;
}

.logo-container {
  text-align: center;
}

.tile > img {
  width: 7em;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.15));
}

button {
  background-color: rgb(54, 176, 60);
  font-size: 1.2em;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 1px;
  outline: none;
}
button:focus {
  -webkit-box-shadow: 0 0 15px 5px rgba(204, 204, 204, 0.9);
  -moz-box-shadow: 0 0 15px 5px rgba(204, 204, 204, 0.9);
  box-shadow: 0 0 15px 5px rgba(204, 204, 204, 0.9);
}
button:hover {
  background-color: #37b93d;
}

input[type=text],
input[type=password],
input[type=email],
input[type=tel],
input[type=number],
input[type=date] {
  background-color: #efefef;
  color: #666;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 1.2em;
  padding: 0.6em;
  box-sizing: border-box;
  outline: none;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=tel]:focus,
input[type=number]:focus,
input[type=date]:focus {
  -webkit-box-shadow: 0 0 10px 2px rgba(204, 204, 204, 0.9);
  -moz-box-shadow: 0 0 10px 2px rgba(204, 204, 204, 0.9);
  box-shadow: 0 0 10px 2px rgba(204, 204, 204, 0.9);
  border: 2px solid #a5cda5;
  background-color: #e9f3e9;
  color: #428c42;
}

form input {
  margin-top: 0.4em;
  margin-bottom: 0.6em;
}
form button {
  padding: 0.7em;
  margin-top: 0.4em;
}

.container {
  background-color: white;
  box-shadow: 0 0 35px 2px rgba(0, 0, 0, 0.25);
  padding: 2.4em 3.4em;
}

body {
  height: 100vh;
}

.form-vertical {
  display: flex;
  flex-flow: column wrap;
}

a:link {
  color: grey;
  text-decoration: none;
}
a:visited {
  color: grey;
}
a:active {
  color: grey;
}
a:hover {
  color: rgb(54, 176, 60);
  text-decoration: underline;
}

a.sign-up {
  display: block;
  text-align: center;
  padding-top: 0.6em;
}

.form-control {
  font-family: Lato, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.15em;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  cursor: pointer;
}
.form-control input[type=radio] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: #111;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid #666;
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}
.form-control input[type=radio]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em rgb(54, 176, 60);
}
.form-control input[type=radio]:checked::before {
  transform: scale(1);
}

a:link {
  color: grey;
  text-decoration: none;
}
a:visited {
  color: grey;
}
a:active {
  color: grey;
}
a:hover {
  color: rgb(54, 176, 60);
  text-decoration: underline;
}

.container {
  margin: 4em;
}

.form-horizontal {
  display: flex;
  flex-flow: column wrap;
}

.radio-group {
  display: flex;
}

header {
  text-align: left;
}
header h2 {
  text-align: left;
}

.line-in-form {
  display: flex;
  flex-flow: row wrap;
  column-gap: 0.8em;
}

a.login {
  text-align: center;
}

.radio-group {
  margin-bottom: 1em;
  display: flex;
  flex-flow: row wrap;
  column-gap: 1.5em;
  row-gap: 0.6em;
}

.messages {
  max-width: 34rem;
}

.container-tile-option {
  display: flex;
  flex-direction: column;
}

header.info-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 2px black solid;
  padding-bottom: 0.6em;
  margin-bottom: 2em;
}
header h2 {
  padding-bottom: 0.2em;
  padding-right: 1em;
}

.container-tile-option .container {
  min-width: 35vw;
  margin: 1em 1em;
  position: relative;
}
.container-tile-option .container .grades-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.7em 0;
  border-bottom: gray 1px solid;
}
.container-tile-option .container .grades-row .subject-name {
  padding-right: 3em;
}
.container-tile-option .container .grades-row .subject-grades, .container-tile-option .container .grades-row .one-student {
  display: flex;
  flex-direction: row;
}
.container-tile-option .container .one-grade:not(:last-child) {
  margin-right: 0.6em;
}
.container-tile-option .container .one-grade:not(:last-child):after {
  content: ",";
}
.container-tile-option .container .student-with-grades, .container-tile-option .container .student-grades {
  display: flex;
  flex-direction: row;
}
.container-tile-option .container .student-with-grades {
  justify-content: space-between;
}
.container-tile-option .container .subject-name {
  color: rgb(54, 176, 60);
}
.container-tile-option .container .one-class {
  font-weight: 500;
  padding-bottom: 0.2em;
}
.container-tile-option .container .teacher-one-subject {
  padding-top: 1em;
  padding-bottom: 0.6em;
  border-bottom: gray 1px solid;
}
.container-tile-option .container .class-with-students {
  padding: 1em 0;
}
.container-tile-option .container .class-with-students:not(:last-child) {
  border-bottom: gray 1px dashed;
}
.container-tile-option .container .all-student-in-class {
  padding-left: 0.5em;
}

.back-to-dashboard {
  position: absolute;
  top: -0.1em;
  left: -0.1em;
  padding: 0.6em;
  font-size: 1.6em;
  font-weight: 800;
  color: gray;
}

/*# sourceMappingURL=main.css.map */
