*.idea
ediary/vendor/
ediary/db-data/
ediary/config.php
ediary/docker-compose-prod.yml
ediary/docker/php/conf.d/error_reporting.ini
ediary/docker/php/conf.d/xdebug.ini

ediary/.sass-cache/
*.css.map
*.scss.map
