body {
    background-image: url("../img/bg.png");
    background-size: 100%;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: #111;
	display: flex;
}

body .container{
	background-color: white;
	margin: auto;
}

.logo {
    font-family: 'Amita', sans-serif;
    font-size: 35px;
    _font-weight: 10;
    text-align: center;
    letter-spacing: 0;
    margin: 0;
    padding: 0;
}

.logo-prefix {
	color: #36B03C;
}

form.login{
	display: flex;
	flex-flow: column wrap;
}
