@use '../utils/variables' as v;

.logo {
  font-family: v.$logo-font;
  font-size: 3em;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0;
  padding-bottom: 0.2em;
  color: v.$content-font-color;

  &::first-letter {
    color: v.$primary-color;
  }
}

.logo-link:hover{
  text-decoration: none;
  color: v.$content-font-color;
}