@use '../utils/variables' as v;

header {
  &.info-header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;

    border-bottom: 2px black solid;
    padding-bottom: 0.6em;
    margin-bottom: 2em;

    h2 {
      padding-bottom: 0.2em;
      padding-right: 1em;
      border-bottom: none;
    }
  }
}

.subject-filter {
  text-align: right;
}

// student view
.container-tile-option .container {
  min-width: 35vw;
  margin: 1em 1em;
  position: relative;

  .grades-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.7em 0;
    border-bottom: gray 1px solid;

    .subject-name {
      padding-right: 3em;
    }

    .subject-grades, .one-student {
      display: flex;
      flex-direction: row;
    }
  }

  .one-grade:not(:last-child) {
    &:after {
      content: ",";
    }

    margin-right: 0.6em;
  }

  .student-with-grades, .student-grades, .student-grades-only {
    display: flex;
    flex-direction: row;
  }
}

// teacher view
.teacher-one-subject {
  padding-top: 1.4em;
  padding-bottom: 0.6em;
  border-bottom: gray 1px solid;

  .subject-name {
    color: v.$primary-color;
    font-weight: 600;
    letter-spacing: 0.05em;
  }

  .one-class {
    font-weight: 600;
    padding-bottom: 0.2em;
  }

  .student-with-grades {
    justify-content: space-between;
    padding: 0.4em 0.4em;

    &:nth-child(even) {
      background-color: v.$primary-background-color;
    }
    &:nth-child(odd) {
      //background-color: ;
    }
  }

  .class-with-students {
    &:not(:last-child) {
      border-bottom: gray 1px dashed;
    }

    padding: 1em 0;
  }

  .all-student-in-class {
    padding-left: 0.5em;
  }

  .student-grades-only > .one-grade {
    margin-right: 0.6em;
  }
}

.back-to-dashboard {
  position: absolute;
  top: -0.1em;
  left: -0.1em;
  padding: 0.6em;
  font-size: 1.6em;
  font-weight: 800;
  color: gray;
}