@charset "utf-8";

@use '../utils/variables' as v;
@use '../utils/mixins' as mix;
@use '../components/buttons';
@use '../components/inputs';
@use '../base/body';
@use "../components/container";


.logo {
  font-family: v.$logo-font;
  font-size: 3em;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0;
  padding-bottom: 0.3em;

  &::first-letter {
    color: v.$primary-color;
  }
}

form {
  display: flex;
  flex-flow: column wrap;

  input {
    margin-top: 0.4em;
    margin-bottom: 0.6em;
  }

  button {
    padding: 0.7em;
    margin-top: 0.4em;
  }
}

a {
  @include mix.links_style;
}

a.sign-up {
  display: block;
  text-align: center;
  padding-top: 0.6em;
}
