@charset "utf-8";

@use '../utils/variables' as v;
@use '../utils/mixins' as mix;
@use '../components/buttons';
@use '../components/inputs';
@use '../components/form';
@use '../base/body';
@use "../components/container";

.form-vertical {
  display: flex;
  flex-flow: column wrap;
}

.logo {
  font-family: v.$logo-font;
  font-size: 3em;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0;
  padding-bottom: 0.3em;

  &::first-letter {
    color: v.$primary-color;
  }
}

a {
  @include mix.links_style;
}

a.sign-up {
  display: block;
  text-align: center;
  padding-top: 0.6em;
}
