@charset "utf-8";

@use '../utils/variables' as v;
@use '../utils/mixins' as mix;
@use '../components/buttons';
@use '../components/inputs';
@use "../components/radio";
@use '../components/form';
@use '../base/body';
@use "../components/container";
@use "../components/logo";


a {
  @include mix.links_style;
}

.container{
  margin: 4em;
}

.form-horizontal {
  display: flex;
  flex-flow: column wrap;
}

.radio-group {
  display: flex;
}

header {
  text-align: left;

  h2 {
    text-align: left;
  }
}

.line-in-form {
  display: flex;
  flex-flow: row wrap;
  column-gap: 0.8em;
}

a.login{
  text-align: center;
}

.radio-group{
  margin-bottom: 1em;
  display: flex;
  flex-flow: row wrap;
  column-gap: 1.5em;
  row-gap: 0.6em;
}

.messages{
  max-width: 34rem;
}

