@use '../utils/variables' as v;

input[type='text'],
input[type='password'],
input[type='email'],
input[type='tel'],
input[type='number'],
input[type='date']{
  background-color: #efefef;
  color: v.$font-input-color;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 1.2em;
  padding: 0.6em;
  box-sizing: border-box;
  outline: none;


  &:focus {
    -webkit-box-shadow: 0 0 10px 2px rgba(204, 204, 204, 0.9);
    -moz-box-shadow: 0 0 10px 2px rgba(204, 204, 204, 0.9);
    box-shadow: 0 0 10px 2px rgba(204, 204, 204, 0.9);
    border: 2px solid #a5cda5;
    background-color: #e9f3e9;
    color: v.$font-input-hover-color;
  }
}