@use '../utils/variables' as v;

.form-control {
  font-family: v.$content-font;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.15em;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  cursor: pointer;

  //+ .form-control {
  //  margin-left: 1.6em;
  //}

  input[type="radio"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: v.$content-font-color;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid v.$font-input-color;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;

    &::before {
      content: "";
      width: 0.65em;
      height: 0.65em;
      border-radius: 50%;
      transform: scale(0);
      transition: 120ms transform ease-in-out;
      box-shadow: inset 1em 1em v.$primary-color;
    }

    &:checked::before {
      transform: scale(1);
    }
  }
}